* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  transition: all ease-in .3s;
  scroll-behavior: smooth;
}

.body {
  background: linear-gradient(rgb(182, 244, 146),
    rgb(51, 139, 147));
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 20px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(0, 189, 113);
  border-radius: 50%;
  background-color: rgb(255, 250, 205);
  cursor: pointer;
  transition: all ease-in .3s;
}

.header__logo:hover {
  border: 3px solid rgb(255, 250, 205);
  background-color: rgb(0, 189, 113);
  font-weight: 900;
}

.nav-menu__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.nav-menu__item:not(:last-child) {
  margin-right: 15px;
}

.nav-menu__link {
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(41, 41, 41);
  text-decoration: none;
}

.nav-menu__link:hover {
  text-decoration: underline;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.avatar__image {
  width: 200px;
  border-radius: 20px;
}

.contacts__data {
  width: 80%;
}

.contacts__title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 3rem;
}

.socials__title {
  margin-bottom: 30px;
  padding-left: 20px;
  font-size: 2.4rem;
}

.socials__links {
  display: flex;
  justify-content: space-evenly;
}

.links-container__linkedIn,
.links-container__email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container__image.email,
.links-container__image.linkedIn {
  width: 48px;
}

.links-container__link {
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(41, 41, 41);
  text-decoration: none;
  margin-top: 20px;
}

.projects__title {
  text-align: center;
  font-size: 2.4rem;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
}

.projects-container__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container__zoo,
.projects-container__gem,
.projects-container__momentum {
  width: 70%;
  margin-top: 30px;
  font-size: 2.2rem;
  text-decoration: none;
  color: rgb(220, 20, 60);
}

.projects-container__zoo:hover,
.projects-container__gem:hover,
.projects-container__momentum:hover {
  text-decoration: underline;
  color: rgb(178, 34, 34);
}

.projects-container__codewars {
  font-size: 2.2rem;
}

.skills {
  padding: 20px;
}

.skills__title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
}

.skills-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 10px;
  text-align: center;
}

.skills-list__img {
  width: 80px;
}

.about {
  padding: 0 20px;
}

.about__title {
  font-size: 2.4rem;
  margin-top: 40px;
}

.about__education,
.about__english,
.about__web,
.about__hobbies {
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(41, 41, 41);
}

.footer-wrapper {
  max-width: 1280px;
  min-height: 50px;
  margin: 0 auto;
}

.footer__year {
  min-height: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2.0rem;
}
